[Desktop Entry]
Name=poedit
Comment=Gettext catalogs editor
Comment[pl]=Edytor katalogów Gettexta
Icon=poedit.png
Exec=quadra
Terminal=0
Type=Application
# vi: encoding=utf-8
