[Desktop Entry]
Name=poedit
Comment=Gettext catalogs editor
Comment[pl]=Edytor katalogów Gettexta
Icon=poedit
Exec=poedit
Terminal=false
Type=Application
Categories=GTK;Development;Translation;
# vi: encoding=utf-8
